body {font-family: Monaco}
body {background-color: }
.center{text-align: center; border: 5px outset blueviolet}
h1 {font-size: 45px; margin-left:25px}
.postbox{position:absolute; bottom:0px}
.subpostbox{position:absolute; bottom:12px; margin-left:1865px}